html, body {
  height: 100%;
  width: 100%;
}
.text-center{
  text-align: center;
}
.bg-red{
  background: red;
}
.mx-auto{
  margin: auto;
}
button{
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.item{
  align-items: center;
}
.row{
  margin: 8px 0;
}
.row input{
  margin: 0;
  padding:9px 5px;
  border: 2px solid black;
  border-radius: 9px;
  font-size: 18px;
}
